<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blackground.ekikiyen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ekikiyen_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".onboarder.OnboarderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".about.view.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="00ebd7872151be8031ec5af9b6c2a33135f9a1c3" />
    </application>
</manifest>
